@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root {
    --cor-de-fundo: #EBECEE;
    --cor-de-fundo-rodape: #F9F9F9;
    --cor-de-fundo-menu: #FFFFFF;
    --cor-de-titulos: #EB9B00;
    --cor-texto-principal: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
    --cor-h2-cards: #002F52;
    --menu-opcoes: #000000;
    --cor-fonte-rodape: #858585;
    --cor-fonte-rodape-secundaria: #474646;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
